doctype html
html
  head
    title Gaurang Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
              img(src="/static/img/");
              | GDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") info]
            li #[a(href="/contact") Contact us]
    block content
    footer#footer
      |  Copyright 2020 GaurangDanceAcademy.com
      